* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
    font-family: var(--font-primary);
}

:root {
    --font-primary: Poppins;
    --font-secondary: Mulish;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    margin-top: 15px;
}

.cabecalho {    
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to left top, rgba(6, 18, 30, 0.4), #000000), url("assets/salao3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    opacity: 1;
}

.img-logo {
    margin-top: 2%;
}

.logo {
    width: 350px;
}

.conteudo-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    row-gap: 100px;
    padding: 20px;
}

.conteudo-texto {
    width: 50%;
    color: white;
    text-align: center;
}

.conteudo-texto h2 {
    text-transform: uppercase;
    font-size: 2.7em;
}

.botao-agendar {    
    text-transform: uppercase;
    background-color: rgb(243, 179, 83);
    padding: 15px;
    margin: 25px 0 50px 0;
}

.botao-agendar a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.botao-agendar a:hover {
    color: black;
    transition: 0.4s linear;
}

.btn-whatsapp {
    position: fixed;
    bottom: 14px;
    right: 24px;
    z-index: 99;
    cursor: pointer;
}

.btn-whatsapp img {
    max-width: 50px;
    transition: transform 0.4s;
}

.btn-whatsapp img:hover {
    transform: scale(1.1);
}

.btn-whatsapp .tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -144px;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    background-color: #232224;
    color: #fff;
    opacity: 0;
    transition: opacity 0.4s;
}
  
.btn-whatsapp:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* --------------------------------------------------------------------------------------------- */

.servicos p {
    margin-top: 2em;
}

.servicos-caixa {
    width: 80%;
    margin: 50px auto 0 auto;
    text-align: justify;
}

.cortes-linha-um, .cortes-linha-dois {
    display: flex;
    justify-content: center;
    margin: 30px auto 0 auto;
    min-width: 100%;
    gap: 15px;    
}

.cortes-linha-dois {
    display: flex;
    justify-content: center;
    margin: 15px auto 0 auto;
    min-width: 100%;
    gap: 15px;
}

.corte {
    display: flex;
    flex-direction: column;    
    flex: 1;
    margin-top: 20px;
    box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
}

.corte img {
    min-width: 100%;
    margin: 0 auto 0 auto;
    transition: transform 0.3s;
}

.corte img:hover {
    transform: scale(1.1);
    z-index: 1;
}

.text {    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    z-index: 3;
    background-color: #fff;
}

.servico {
    text-align: left;
    font-weight: bold;
}

.valor {
    background: #fa3d3d;
    color: white;
    padding: 3px;
    border-radius: 2px;
}

/* --------------------------------------------------------------------------------------------- */

.localizacao {
    width: 100%;
    margin-top: 3em;
    padding: 20px;
}

.localizacao h1 {
    margin-bottom: 1em;
}

.localizacao strong, .localizacao p {
    display: flex;
    justify-content: center;
    text-align: center;
}

.local {
    margin-top: 2em;
}

/* --------------------------------------------------------------------------------------------- */

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 0;
    gap: 24px;
    color: #fff;
    background-color: rgb(19, 35, 83);
}

.rodape p {
    text-align: center;
}

.rodape a {
    text-decoration: none;
    color: white;
}

.img-footer img {
    width: 250px;
}

@media screen and (max-width: 1300px) {
    
    .cabecalho {
        width: 100%;
        height: 100%;
    }   

    .conteudo-texto h2 {        
        font-size: 1.5em;
    }

    .logo {
        width: 150px;
    }
    
    .conteudo-texto{
        width: 100%;
    }

    .cortes-linha-um, .cortes-linha-dois {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 980px) {
    .cortes-linha-um, .cortes-linha-dois {
        display: flex;
        grid-template-columns: auto;
        flex-direction: column;
    }
  }